.pf-l-page__sidebar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #292e34 !important;
}

.pf-c-nav__list > .pf-c-nav__item {
  border-bottom: 1px solid #030303 !important;
}

.pf-c-nav__list > .pf-c-nav__item:not(:first-child) {
  margin-top: 0 !important;
}

.pf-c-nav__list > .pf-c-nav__item.pf-m-current {
  background-color: #393f44 !important;
}

.pf-c-nav__list > .pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link::after {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 3px !important;
  background-color: #39a5dc !important;
}

.pf-c-nav__list .pf-c-nav__link {
  color: #d1d1d1 !important;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 40px !important;
  font-size: 14px !important;
  align-items: center !important;
}

.pf-c-nav__list .pf-c-nav__link:hover {
  font-weight: 600 !important;
  color: #fff !important;
  background-color: #393f44 !important;
}

.pf-c-nav__list .pf-c-nav__link:hover::after {
  background-color: var(--pf-c-nav__list-link--hover--after--BackgroundColor) !important;
}

.pf-c-nav__list .pf-c-nav__link:active {
  color: #d1d1d1 !important;
}

.pf-c-nav__list .pf-c-nav__link.pf-m-focus,
.pf-c-nav__list .pf-c-nav__link:focus {
  color: #d1d1d1 !important;
}

.pf-c-nav__list .pf-c-nav__link::after {
  width: 0 !important;
  height: 0 !important;
}

.pf-c-nav__list .pf-m-current.pf-c-nav__link,
.pf-c-nav__list .pf-m-current > .pf-c-nav__link {
  font-weight: 600 !important;
  color: #fff !important;
}

.pf-c-nav__simple-list .pf-c-nav__link {
  color: #d1d1d1 !important;
  padding-top: 4px !important;;
  padding-right: 5px !important;;
  padding-bottom: 2px !important;;
  line-height: 25px !important;
}

.pf-c-nav__simple-list .pf-c-nav__link::after {
  left: 0 !important;
  width: 3px !important;
  height: 100% !important;
}

.pf-c-nav__simple-list .pf-c-nav__link:focus {
  color: #d1d1d1 !important;
  background-color: transparent !important;
}

.pf-c-nav__simple-list .pf-c-nav__link:active {
  color: #d1d1d1 !important;
  background-color: transparent !important;
}

.pf-c-nav__simple-list .pf-c-nav__link:hover {
  font-weight: 600 !important;
  color: #fff !important;
  background-color: #4d5258 !important;
}

.pf-c-nav__simple-list .pf-c-nav__link.pf-m-current {
  font-weight: 600 !important;
  color: #fff !important;
  background-color: #4d5258 !important;
  /*
  --pf-c-nav__simple-list-link--after--Display: block !important;
  --pf-c-nav__list-link--after--Top: 0 !important;
  --pf-c-nav__list-link--after--Left: 0 !important;
  --pf-c-nav__list-link--after--Width: 3px !important;
  --pf-c-nav__list-link--after--Height: 100% !important;
  --pf-c-nav__list-link--m-current--after--BackgroundColor: #39a5dc !important;
  */
}

.pf-c-nav__simple-list .pf-c-nav__link.pf-m-current::after {
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 3px !important;
  height: 100% !important;
  background-color: #39a5dc !important;
}

.pf-c-nav__toggle {
  display: none !important;
  color: #fff !important;
  transition: transform 100ms !important;
  transform: rotate(-90);
  font-size: 24px;
}

.pf-c-nav__link:hover .pf-c-nav__toggle {
  display: block !important;
}

.pf-m-expanded .pf-c-nav__toggle {
  transform: rotate(0) !important;
}

.pf-c-nav__subnav {
  max-height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: var(--pf-global--spacer--md) !important;
}
